body
  font-family 'SimSun',Tahoma
  font-size 12px

.page-header
  font-size 11px
  margin 0 20px
.page-footer
  margin 0 20px

.title
  text-align center
  margin-top 30px
  h1
    font-family 'SimHei','Microsoft YaHei', Arial
    font-size 18px
    margin 5px

.table-left
  float left
  width 15px
  font-size 13px
  margin-top 20px
  writing-mode vertical-rl
  -webkit-writing-mode vertical-rl
.table-main
  margin-left 15px
  padding-left 5px
  padding-right 10px
  table, tr, td, th
    border 1px solid black
    table-layout fixed
  table
    margin 5px 0
    border-collapse collapse
    width 100%
    .no
      width 8%
    .name
      width 45%
      letter-spacing 1em
    .amount
      width 15%
    .price
      width 10%
    .percentage
      width 8%
    th
      height 30px
      text-align: center
    td
      height 23px

    td.footer
      height 40px
      padding-left 10px
